@import 'vars';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #dcdcdc;
  @include flex;
  @include size(100vw, 100vh);
}

main {
  @include size($width, $height);
  background-color: red;
  font-size: 200px;
}